
:root{
	--cbkc : #853E3E;

}


body{
	background-color: var(--cbkc, #3D3D3E);
	color: white;
	font-family:Helvetica,Arial,serif;



}
a{
	color: white;
}



.logInPage{
	/*border: 10px solid black;*/
	
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)


		
	
}

#logIn{
	padding: 6px 36px 6px 36px;
	background: transparent;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	line-height: 1.2em;
	font-size: 1em;
	



}

.downSection{
	margin-top: 1.5em;
	position: relative;

}

button{
	float: right;
	margin-top:10px;
}

#staySignedIn{
	font-size:.875rem;
}


#inputField{

	margin-top: 3.5px;
	margin-bottom: 5px;
	width: 100%;
	height: 2.2em;
	
	



}

#theLogo{
	width: 160px;
	height: 42px;
	margin-bottom: 20px;
}

#theEmail{
	margin: 0 0 6px;
	font-weight: bold;
	line-height: 1.3rem;
}
#thePassword{
	margin: 0 0 6px;
	font-weight: bold;
	line-height: 1.3rem;

}

span{
	font-size: .6875rem;
	padding: 0px 6px;
}

.instructureContainer{
	display: flex;
	justify-content: center;
}

.ic-Instructure-Logo{
	fill: white;

}

.instructureContainer:hover{
	text-decoration: underline;
}


